
<!--
  Things to change for new vs edit:
    - action - done
    - hidden input patch - done
    - pre-filled values - done?
    - submit button
-->

<% if action == :edit %>
    <% action_url = cat_url(cat) %>
<% else %>
    <% action_url = cats_url %>
<% end %>

<div class="cats__form--container">
    <form action="<%=action_url%>" method="POST" class="cats__form--form">
        <% if action == :edit %>
            <input type="hidden" name="_method" value="PATCH">
        <% end %>

        <label for="name">Name</label>
        <input id="name" type="text" name="cat[name]" value="<%=cat.name%>">
        <br>
        
        <div>
            <p>Sex</p>

            <input type="radio" name="cat[sex]" value="F" id="newCat__sex--female" <%= cat.sex == "F" ? "checked" : ""%>>
            <label for="newCat__sex--female">Female</label>
            <br>

            <input type="radio" name="cat[sex]" value="M" id="newCat__sex--male" <%= cat.sex == "M" ? "checked" : ""%>>
            <label for="newCat__sex--male">Male</label>
        </div>
        <br>

        <label for="color">Color</label>
        <select id="color" name="cat[color]">
            <option value="" <%= cat.color ? "" : "selected"%>>Select a color</option>

            <% Cat::CAT_COLORS.each do |color|%>
                <option value="<%=color%>" <%= cat.color == color ? "selected" : ""%>><%=color%></option>
            <% end %>
        </select>
        <br>

        <label for="birth_date">Birth Date</label>
        <input id="birth_date" type="date" name="cat[birth_date]" value="<%=cat.birth_date%>">
        <br>

        <label for"description">Description</label>
        <textarea id="description" rows="4" cols="40" name="cat[description]" value="<%=cat.description%>"><%=@cat.description%></textarea>
        <br>

        <input type="submit" value="<%= action == :edit ? "Update Cat" : "Add Cat" %>">

    </form>
</div>
