<h1><%= @cat.name %></h1>

<table>
    <tr>
        <th>Age</th>
        <th>Color</th>
        <th>Sex</th>
    </tr>
    <tr>
        <td><%= @cat.age %></td>
        <td><%= @cat.color %></td>
        <td><%= @cat.sex %></td>
    </tr>
</table>

<p>Description: <%= @cat.description %></p>
